* {
  font-size: 18px;
  font-family: "Trebuchet MS";
}

.App {
  text-align: center;
  margin-top: 20px;
  float: left;
  width: 20%;
}

.main {
  width: 80%;
  float: left;
}

form {
  margin-bottom: 20px;
}

input {
  margin: 5px;
  padding: 5px;
}

.card {
  background-color: darken(#00ffff, 20%);
  width: auto;
  margin-top: 20px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.car-list-card {
  background-color: lighten(#afe0df, 10%);
  margin: 1px 50px 50px 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 360px;
  display: inline-block;

  h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #000;
    color: #fff;
  }

  Button {
    margin: 10px;
    padding: 5px 80px;

  }

  input {
    margin: 5px 50px;
    text-align: center;
  }
}

ul {
  list-style: disc inside;
  padding: 0;

  li {
    margin-bottom: 5px;
    text-align: left;
  }
}

Button {
  padding: 5px 10px;
  margin: 10px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

Button:hover {
  background-color: #2a2a2a;
}

h1 {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  padding: 10px 25px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  font-weight: bold;
}

.fueltype-radio-button {
  display: inline-block;
}

.gearbox-radio-button {
  display: inline-block;
}

h2 {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  padding: 16px 10px;
  margin-right: 148px;
  margin-left: 50px;
  font-weight: bold;
}

h3 {
  background-color: darken(#fff, 90%);
  color: lighten(#000, 85%);
  font-weight: bold;
  border-radius: 5px;
  margin: 15px;
  padding: 5px 0;
}

h4 {
  font-size: 18px;
  background-color: darken(#fff, 80%);
  color: lighten(#000, 85%);
  border-radius: 10px;
  text-align: center;
  margin: 10px 50px;
  padding: 1px 0;
}

.p-datepicker-month.p-link {
  background-color: black;

}

.p-datepicker-year.p-link {
  background-color: black;
}

.p-datepicker-header {
  background-color: darken(yellow, 20%);
  border-radius: 10px;
  color: darken(white, 60%);
}

.p-datepicker-calendar-container {
  background-color: yellow;
  border-radius: 10px;
  color: darken(white, 60%);
}

td{
  span:hover{
    background-color: green;
  }
}





