/* App.scss */
.App {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input {
  margin: 5px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2a2a2a;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
